################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SDL_Decisions/.vs/SDL_Planning/v15/Browse.VC.opendb
